
output/ProbFcst.pdf
output/PRCP_CCAFCST_V_Mar-Apr_Mar2_wk4.dat
output/PRCP_CCAFCST_V_Mar-Apr_Mar2_wk4.ctl
output/PRCP_CCAFCST_V_Mar-Apr_Mar2_wk3.dat
output/PRCP_CCAFCST_V_Mar-Apr_Mar2_wk3.ctl
output/PRCP_CCAFCST_V_Mar-Apr_Mar2_wk2.dat
output/PRCP_CCAFCST_V_Mar-Apr_Mar2_wk2.ctl
output/PRCP_CCAFCST_V_Mar-Apr_Mar2_wk1.dat
output/PRCP_CCAFCST_V_Mar-Apr_Mar2_wk1.ctl
output/PRCP_CCAFCST_V_Jun-Aug_Jul26_wk4.dat
output/PRCP_CCAFCST_V_Jun-Aug_Jul26_wk4.ctl
output/PRCP_CCAFCST_V_Jun-Aug_Jul26_wk3.dat
output/PRCP_CCAFCST_V_Jun-Aug_Jul26_wk3.ctl
output/PRCP_CCAFCST_V_Jun-Aug_Jul26_wk2.dat
output/PRCP_CCAFCST_V_Jun-Aug_Jul26_wk2.ctl
output/PRCP_CCAFCST_V_Jun-Aug_Jul26_wk1.dat
output/PRCP_CCAFCST_V_Jun-Aug_Jul26_wk1.ctl
output/PRCP_CCAFCST_P_Mar-Apr_Mar2_wk4.dat
output/PRCP_CCAFCST_P_Mar-Apr_Mar2_wk4.ctl
output/PRCP_CCAFCST_P_Mar-Apr_Mar2_wk3.dat
output/PRCP_CCAFCST_P_Mar-Apr_Mar2_wk3.ctl
output/PRCP_CCAFCST_P_Mar-Apr_Mar2_wk2.dat
output/PRCP_CCAFCST_P_Mar-Apr_Mar2_wk2.ctl
output/PRCP_CCAFCST_P_Mar-Apr_Mar2_wk1.dat
output/PRCP_CCAFCST_P_Mar-Apr_Mar2_wk1.ctl
output/PRCP_CCAFCST_P_Jun-Aug_Jul26_wk4.dat
output/PRCP_CCAFCST_P_Jun-Aug_Jul26_wk4.ctl
output/PRCP_CCAFCST_P_Jun-Aug_Jul26_wk3.dat
output/PRCP_CCAFCST_P_Jun-Aug_Jul26_wk3.ctl
output/PRCP_CCAFCST_P_Jun-Aug_Jul26_wk2.dat
output/PRCP_CCAFCST_P_Jun-Aug_Jul26_wk2.ctl
output/PRCP_CCAFCST_P_Jun-Aug_Jul26_wk1.dat
output/PRCP_CCAFCST_P_Jun-Aug_Jul26_wk1.ctl
output/PRCP_CCA_Spearman_Mar-Apr_wk4.dat
output/PRCP_CCA_Spearman_Mar-Apr_wk4.ctl
output/PRCP_CCA_Spearman_Mar-Apr_wk3.dat
output/PRCP_CCA_Spearman_Mar-Apr_wk3.ctl
output/PRCP_CCA_Spearman_Mar-Apr_wk2.dat
output/PRCP_CCA_Spearman_Mar-Apr_wk2.ctl
output/PRCP_CCA_Spearman_Mar-Apr_wk1.dat
output/PRCP_CCA_Spearman_Mar-Apr_wk1.ctl
output/PRCP_CCA_Spearman_Jun-Aug_wk4.dat
output/PRCP_CCA_Spearman_Jun-Aug_wk4.ctl
output/PRCP_CCA_Spearman_Jun-Aug_wk3.dat
output/PRCP_CCA_Spearman_Jun-Aug_wk3.ctl
output/PRCP_CCA_Spearman_Jun-Aug_wk2.dat
output/PRCP_CCA_Spearman_Jun-Aug_wk2.ctl
output/PRCP_CCA_Spearman_Jun-Aug_wk1.dat
output/PRCP_CCA_Spearman_Jun-Aug_wk1.ctl
output/PRCP_CCA_RocBelow_Mar-Apr_wk4.dat
output/PRCP_CCA_RocBelow_Mar-Apr_wk4.ctl
output/PRCP_CCA_RocBelow_Mar-Apr_wk3.dat
output/PRCP_CCA_RocBelow_Mar-Apr_wk3.ctl
output/PRCP_CCA_RocBelow_Mar-Apr_wk2.dat
output/PRCP_CCA_RocBelow_Mar-Apr_wk2.ctl
output/PRCP_CCA_RocBelow_Mar-Apr_wk1.dat
output/PRCP_CCA_RocBelow_Mar-Apr_wk1.ctl
output/PRCP_CCA_RocBelow_Jun-Aug_wk4.dat
output/PRCP_CCA_RocBelow_Jun-Aug_wk4.ctl
output/PRCP_CCA_RocBelow_Jun-Aug_wk3.dat
output/PRCP_CCA_RocBelow_Jun-Aug_wk3.ctl
output/PRCP_CCA_RocBelow_Jun-Aug_wk2.dat
output/PRCP_CCA_RocBelow_Jun-Aug_wk2.ctl
output/PRCP_CCA_RocBelow_Jun-Aug_wk1.dat
output/PRCP_CCA_RocBelow_Jun-Aug_wk1.ctl
output/PRCP_CCA_RocAbove_Mar-Apr_wk4.dat
output/PRCP_CCA_RocAbove_Mar-Apr_wk4.ctl
output/PRCP_CCA_RocAbove_Mar-Apr_wk3.dat
output/PRCP_CCA_RocAbove_Mar-Apr_wk3.ctl
output/PRCP_CCA_RocAbove_Mar-Apr_wk2.dat
output/PRCP_CCA_RocAbove_Mar-Apr_wk2.ctl
output/PRCP_CCA_RocAbove_Mar-Apr_wk1.dat
output/PRCP_CCA_RocAbove_Mar-Apr_wk1.ctl
output/PRCP_CCA_RocAbove_Jun-Aug_wk4.dat
output/PRCP_CCA_RocAbove_Jun-Aug_wk4.ctl
output/PRCP_CCA_RocAbove_Jun-Aug_wk3.dat
output/PRCP_CCA_RocAbove_Jun-Aug_wk3.ctl
output/PRCP_CCA_RocAbove_Jun-Aug_wk2.dat
output/PRCP_CCA_RocAbove_Jun-Aug_wk2.ctl
output/PRCP_CCA_RocAbove_Jun-Aug_wk1.dat
output/PRCP_CCA_RocAbove_Jun-Aug_wk1.ctl
output/PRCP_CCA_Pearson_Mar-Apr_wk4.dat
output/PRCP_CCA_Pearson_Mar-Apr_wk4.ctl
output/PRCP_CCA_Pearson_Mar-Apr_wk3.dat
output/PRCP_CCA_Pearson_Mar-Apr_wk3.ctl
output/PRCP_CCA_Pearson_Mar-Apr_wk2.dat
output/PRCP_CCA_Pearson_Mar-Apr_wk2.ctl
output/PRCP_CCA_Pearson_Mar-Apr_wk1.dat
output/PRCP_CCA_Pearson_Mar-Apr_wk1.ctl
output/PRCP_CCA_Pearson_Jun-Aug_wk4.dat
output/PRCP_CCA_Pearson_Jun-Aug_wk4.ctl
output/PRCP_CCA_Pearson_Jun-Aug_wk3.dat
output/PRCP_CCA_Pearson_Jun-Aug_wk3.ctl
output/PRCP_CCA_Pearson_Jun-Aug_wk2.dat
output/PRCP_CCA_Pearson_Jun-Aug_wk2.ctl
output/PRCP_CCA_Pearson_Jun-Aug_wk1.dat
output/PRCP_CCA_Pearson_Jun-Aug_wk1.ctl
output/PRCP_CCA_2AFC_Mar-Apr_wk4.dat
output/PRCP_CCA_2AFC_Mar-Apr_wk4.ctl
output/PRCP_CCA_2AFC_Mar-Apr_wk3.dat
output/PRCP_CCA_2AFC_Mar-Apr_wk3.ctl
output/PRCP_CCA_2AFC_Mar-Apr_wk2.dat
output/PRCP_CCA_2AFC_Mar-Apr_wk2.ctl
output/PRCP_CCA_2AFC_Mar-Apr_wk1.dat
output/PRCP_CCA_2AFC_Mar-Apr_wk1.ctl
output/PRCP_CCA_2AFC_Jun-Aug_wk4.dat
output/PRCP_CCA_2AFC_Jun-Aug_wk4.ctl
output/PRCP_CCA_2AFC_Jun-Aug_wk3.dat
output/PRCP_CCA_2AFC_Jun-Aug_wk3.ctl
output/PRCP_CCA_2AFC_Jun-Aug_wk2.dat
output/PRCP_CCA_2AFC_Jun-Aug_wk2.ctl
output/PRCP_CCA_2AFC_Jun-Aug_wk1.dat
output/PRCP_CCA_2AFC_Jun-Aug_wk1.ctl
input/obs_precip_Mar_wk4.tsv
input/obs_precip_Mar_wk3.tsv
input/obs_precip_Mar_wk2.tsv
input/obs_precip_Mar_wk1.tsv
input/obs_precip_Jul_wk4.tsv
input/obs_precip_Jul_wk3.tsv
input/obs_precip_Jul_wk2.tsv
input/obs_precip_Jul_wk1.tsv
input/modelfcst_precip_Mar_fday2_wk4.tsv
input/modelfcst_precip_Mar_fday2_wk3.tsv
input/modelfcst_precip_Mar_fday2_wk2.tsv
input/modelfcst_precip_Mar_fday2_wk1.tsv
input/modelfcst_precip_Jul_fday26_wk4.tsv
input/modelfcst_precip_Jul_fday26_wk3.tsv
input/modelfcst_precip_Jul_fday26_wk2.tsv
input/modelfcst_precip_Jul_fday26_wk1.tsv
input/model_precip_Mar_wk4.tsv
input/model_precip_Mar_wk3.tsv
input/model_precip_Mar_wk2.tsv
input/model_precip_Mar_wk1.tsv
input/model_precip_Jul_wk4.tsv
input/model_precip_Jul_wk3.tsv
input/model_precip_Jul_wk2.tsv
input/model_precip_Jul_wk1.tsv
__pycache__/pycpt_functions.cpython-36.pyc
.IRIDLAUTH
.ipynb_checkpoints/PyCPT_v1.1-checkpoint.ipynb
input/model_precip_Jul_wk34.tsv
input/modelfcst_precip_Jul_fday26_wk34.tsv
input/obs_precip_Jul_wk34.tsv
